@import "./pages/home.css";
@import "./pages/bookmarks.css";
@import "./pages/profile.css";

/*General and body*/

* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: #e8f0f7;
  flex-wrap: wrap;
  margin: 0;
}

a,
i {
  text-decoration: none;
}

i:hover {
  color: #6185a3;
}

a:hover {
  color: #93b0c8;
}

/*Header, title*/

header {
  background-color: #fefffe;
  border: 2px solid #c2d5e5;
  position: sticky;
  top: 0;
  height: 15vh;
  z-index: 10;
}

header:hover {
  border: 2px solid #93b0c8;
}

.heading {
  color: #93b0c8;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.heading:hover {
  color: #6185a3;
}

/*Styling footer, navigation*/

footer {
  height: 15vh;
}

.navbar {
  background-color: #fefffe;
  border: 2px solid #c2d5e5;
  bottom: 0;
  width: 100%;
  height: 15vh;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar:hover {
  border: 2px solid #93b0c8;
}

.navbar a {
  color: #93b0c8;
  --ggs: 2.5;
}

.navbar__home--highlighted > i {
  color: #6185a3;
}

.navbar__bookmark--highlighted > i {
  color: #6185a3;
}

.navbar__profile--highlighted > i {
  color: #6185a3;
}

/* media queries */

@media screen and (min-width: 481px) {
  .quiz-card {
    width: 80vw;
    height: 50vh;
  }
}
@media screen and (min-width: 769px) {
  .quiz-card {
    width: 80vw;
    height: 50vh;
  }
}

/*
@media (prefers-color-scheme: dark) {
  body,
  .quiz-card,
  button,
  header,
  .navbar,
  .quiz-card__tag {
    background-color: black;
    color: white;
  }
}
*/
