/*General and body*/

* {
  box-sizing: border-box;
}

body {
  background-color: #e8f0f7;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  flex-wrap: wrap;
  margin: 0;
}

a {
  text-decoration: none;
}

/*Styling header, title*/

header {
  background-color: #fefffe;
  border: 2px solid;
  border-color: #c2d5e5;
  position: sticky;
  top: 0;
  height: 100px;
  z-index: 10;
}

h1 {
  background-color: #fefffe;
  color: #93b0c8;
  text-align: center;
}

/*Article*/

.card {
  background-color: #fefffe;
  color: #6185a3;
  position: relative;
  text-align: center;
  margin: 50px;
  padding: 50px;
  height: 300px;
  border-radius: 10%;
}

button {
  background-color: #fefffe;
  color: #6185a3;
  border: 3px solid #93b0c8;
  border-radius: 10%;
  width: 150px;
  height: 75px;
  position: absolute;
  right: 50%;
  left: 40%;
  top: 45%;
}

.card > :first-child {
  background-color: #fefffe;
  color: #93b0c8;
  border-color: #93b0c8;
  font-size: 400% !important;
  position: absolute;
  top: -20px;
  right: 50px;
}

.tags {
  position: absolute;
  bottom: 30px;
  left: 60px;
}

/*Styling footer, navigation*/

footer {
  background-color: #fefffe;
  border: 2px solid;
  border-color: #c2d5e5;
  bottom: 0;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 50px;
  margin-bottom: 50px;
}

nav > a {
  color: #93b0c8;
  font-size: 300% !important;
}
